* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

.spotfy-top {
	border: 1px solid cornflowerblue;
}

.navbar {
	border: 1px solid gold;
}

.inner-spotify {
	border: 1px solid yellowgreen;
	height: 700px;
}

header {
	border: 1px solid mediumorchid
}

main {
	border: 1px solid orange;
}

footer {
	border: 1px solid red;;
}

.text-center {
	text-align: center;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.container {
    width: 480px;
    margin: 0 auto;
	position: relative;
}

.row {
    display: flex;
}

.col-5 {
	width: 5%;
	color: white;
	display: inline-block;
}

.col-18 {
	width: 18%;
	background-color: pink;
}

.col-27 {
	width: 27%;
	background-color: pink;
	color: white;
}

.col-50 {
	width: 50%;
	background-color: pink;
	color: white;
}

.col-90 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/************************************************
    SECTIONS
 ************************************************/

/*NAVBAR SECTION*/

.navbar {
	float: left;
	width: 6%;
	color: white;
	text-align: center;
}

#logo {
	background-image: url(../img/logo-small.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 20px;
}

.home, .search, .library {
	margin-top: 10px;
}

.ntc-text {
	display: inline-block;
	visibility: hidden;
}

.playlist-menu {
	visibility: hidden;
}

.navbar-bottom-content {
	margin-top: 60px;
}

.nbc-icon-text {
	visibility: hidden;
}

.navbar-bottom-content hr {
	visibility: hidden;
}

.user-profile {
	margin-top: 10px;
}

.nbc-pic {
	background-color: gray;
	background-image: url(../img/profile.svg);
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 100%;
	height: 25px;
}

.nbc-pic-text {
	display: inline-block;
	visibility: hidden;
}

/*INNER-SPOTIFY SECTION*/

.inner-spotify {
	width: 94%;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*HEADER SECTION*/

header {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.upgrade {
	background-color: black;
	border: 1px solid white;
	color: white;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
}

/*MAIN SECTION*/

main {
	width: 100%;
}


/*MAIN TOP CONTENT SECTION*/

.main-top-content-upper {
	width: 100%;
	border: 1px solid magenta;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.new-releases-upper {
	display: none;
}

.discover-upper {
	display: none;
}

.main-top-content-lower {
	width: 100%;
	border: 1px solid magenta;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.genood-lower {
	display: none;
}

.mtc-text {
	color: white;
	font-size: 13px;
}

.green-hr {
	color: yellowgreen;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
}

.mtc-text:hover .green-hr {
	visibility: visible;
}

/*MAIN BOTTOM CONTENT SECTION-*/

.main-bottom-content {
	width: 100%;
}

.main-bottom-content h1 {
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}

.main-bottom-content p {
	color: grey;
	margin-top: 10px;
	margin-bottom: 10px;
}

.playlist-card {
	width: calc(98% / 2);
	display: inline-block;
}

.playlist-pic img {
	width: 100%;
}

.playlist-title h1 {
	color: white;
}

.playlist-author {
	color: lightslategray;
}

/*FOOTER*/

footer {
	width: 480px;
	margin: 0 auto;
    padding: 0 20px;
}

.f-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-left: 1px solid cyan;
	border-right: 1px solid cyan;
	display: flex;
}

.f-playlist-card {
	display: flex;
	justify-content: space-between;
}

.f-playlist-pic img {
	width: 100%;
}

.f-plalist-text {
	font-size: 5px;
}

.f-playlist-title h1 {
	color: white;
}

.f-playlist-author {
	color: lightslategray;
}

.player {
	margin-top: 5px;
}

.player-top {
	display: flex;
	justify-content: space-between;
}

.player-bottom {
	display: flex;
	align-items:center;
}

.time-bar {
	margin-left: 10px;
	margin-right: auto;
}

.tb-total {
	background-color:dimgray;
	width: 140px;
	height: 10px;
}

.tb-elapsed {
	background-color: lightgrey;
	width: 30px;
	height: 10px;
}

.volume-bar {
	margin-left: 10px;
	margin-right: auto;
}

.player-left-content {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.player-left-content i {
	margin-left: 5px;
	font-size: 12px;
}

.vb-total {
	background-color:dimgray;
	width: 50px;
	height: 10px;
}

.vb-current {
	background-color: lightgrey;
	width: 10px;
	height: 10px;
}


/************************************************
    MEDIA SCREEN 600px
 ************************************************/

 @media screen and (min-width: 600px) {
	.container {
		width: 600px;
		margin: 0 auto;
		position: relative;
	}

	/************************************************
    SECTIONS
 ************************************************/

/*NAVBAR SECTION*/

	.navbar {
		width: 40%;
		text-align: left;
	}
	
	#logo {
		margin-top: 5px;
		background-image: url(../img/logo.svg);
		background-position: left;
		background-size: 80%;
		height: 60px;
	}

	.home-img, .search-img, .library-img {
		width: 25%;
	}

	.ntc-text {
		display: inline-block;
		visibility: visible;
	}

	.playlist-menu {
		visibility: visible;
		margin-top: 30px;
		margin-left: 5px;
	}

	.square-plus {
		margin-top: 10px;
		margin-left: 5px;
	}

	.fa-square-plus {
		font-size: 40px;
	}

	.square-plus-text {
		display: inline-block;
	}

	.playlist-ul {
		margin-top: 10px;
		margin-left: 5px;
		list-style: none;
	}

	.playlist-ul li {
		margin-bottom: 10px;
	}

	.nbc-icon-text {
		visibility: visible;
		display: inline-block;
	}

	.navbar-bottom-content hr {
		visibility: visible;
		margin-top: 10px;
	}

	.user-profile {
		margin-top: 10px;
		display: flex;
	}

	.navbar-bottom-content {
		margin-top: 60px;
	}
	

	.nbc-pic {
		background-color: gray;
		background-image: url(../img/profile.svg);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		width: 12%;
		height: 25px;
	}

	.nbc-pic-text {
		margin-left: 10px;
		visibility: visible;
	}

	/*INNER-SPOTIFY SECTION*/

	.inner-spotify {
		width: 60%;
	}

	/*HEADER SECTION*/
	
	header {
		height: 80px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	
	.upgrade {
		background-color: black;
		border: 1px solid white;
		color: white;
		width: 65%;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 20px;
		font-size: 15px;
	}

	/*MAIN TOP CONTENT SECTION*/

	.main-top-content-upper {
		width: 100%;
	    border: 1px solid magenta;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}

    .new-releases-upper {
		display: none;
	}

    .discover-upper {
		display: none
	}

	.genood-upper {
		display: none;
	}
	
	.main-top-content-lower {
		width: 100%;
		border: 1px solid magenta;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.genood-lower {
		display: inline;
	}

	.mtc-text {
		color: white;
		font-size: 13px;
	}


}