* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

.spotfy-top {
	border: 1px solid cornflowerblue;
	overflow: hidden;
}

.navbar {
	border: 1px solid gold;
	float: left;
}

.inner-spotify {
	border: 1px solid yellowgreen;
}

header {
	border: 1px solid mediumorchid
}

main {
	border: 1px solid orange;
}

footer {
	border: 1px solid red
}

.text-center {
	text-align: center;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.spotfy-top {
	height: 1000px;
}

.container {
    width: 480px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.navbar {
	float: left;
	height: 1000px;
	width: 6%;
	color: white;
}

.inner-spotify {
	height: 1000px;
	width: 94%;
}

header {
	height: 80px;
	width: 100%;
}


main {
	height: 920px;
	width: 100%;
}


footer {
	width: 480px;
	margin: 0 auto;
    padding: 0 20px;
	height: 80px;
}

.col-90 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.search, .library {
	margin-top: 10px;
}

.navbar-bottom-content {
	margin-top: 830px;
}

.navbar-bottom-content img {
	margin-top: 10px;
}